.env
.env.*
.htaccess

vendor/
node_modules/

storage/logs/
storage/framework/
bootstrap/cache/

.git/

*.sql
*.sqlite
*.zip
*.tar
*.gz
*.rar
*.bak

*.pem
*.key
*.crt
id_rsa
id_dsa

docker-compose.yml
Dockerfile

nginx.conf
apache2.conf
httpd.conf

supervisord.conf
deploy.sh

.idea/
.vscode/

*.log
